@model FormulariosRaizorVistas.Models.Persona


@{
    ViewBag.Title = "Home Page";
}



<h4>@ViewBag.Message</h4>

@using (Html.BeginForm())
{
    //Hace todo el trabajo que el ejemplo de abajo(se puede persoalizar los templates)

    @Html.EditorForModel()



    <input type="submit" value="Enviar" />


    //De esta manera utilizamos la propiedad EditorFor
    @*<div>
            @Html.LabelFor(Model => Model.Nombre)
            @Html.EditorFor(Model => Model.Nombre)
        </div>
        <div>
            @Html.LabelFor(Model => Model.Edad)
            @Html.EditorFor(Model => Model.Edad)
        </div>

        <div>
            @Html.LabelFor(Model => Model.Nacimiento)
            @Html.EditorFor(Model => Model.Nacimiento)
        </div>

        <div>
            @Html.LabelFor(Model => Model.Empleado)
            @Html.EditorFor(Model => Model.Empleado)
        </div>*@


}