@model CodigoVistasAction.Controllers.HomeController.Persona

<div class="form-group">
    @*Aficha label *@
    @Html.LabelFor(model => model.Nombre):
    @*Aficha el valor de la propiedad *@
    @Html.DisplayFor(model => model.Nombre)
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Edad):
    @Html.DisplayFor(model => model.Edad)
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Nacimiento):
    @Html.DisplayFor(model => model.Nacimiento)
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Empleado):
    @Html.DisplayFor(model => model.Empleado)
</div>
